<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhalu.miwoklearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumbersActivity"
            android:label="@string/numbers" >
        </activity>
        <activity
            android:name=".ColorsActivity"
            android:label="@string/colors">
        </activity>
        <activity
            android:name=".FamilyMembersActivity"
            android:label="@string/familyMembers">
        </activity>
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/phrases">
        </activity>
    </application>

</manifest>